.reverse.svelte-zzky5a{
  -webkit-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg)
}

.tip.svelte-zzky5a{
  -webkit-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg)
}
.p-1\/2.svelte-ixci48{
  padding:0.125rem
}
.label-top.svelte-r33x2y{
  line-height:0.05
}

.label-transition.svelte-r33x2y{
  -webkit-transition:font-size 0.05s, line-height 0.1s;
  -o-transition:font-size 0.05s, line-height 0.1s;
  transition:font-size 0.05s, line-height 0.1s
}

label.text-xs{
  font-size:0.7rem
}
.line.svelte-xd9zs6{
  height:1px
}
.drawer.svelte-6qcjcu{
  min-width:250px
}

aside.svelte-6qcjcu{
  height:100vh
}
.ripple.svelte-1o8z87d{
  position:absolute !important
}
.inc.svelte-mguqwa{
  -webkit-animation:svelte-mguqwa-increase 2s ease-in-out infinite;
  animation:svelte-mguqwa-increase 2s ease-in-out infinite
}

.dec.svelte-mguqwa{
  -webkit-animation:svelte-mguqwa-decrease 2s 0.9s ease-in-out infinite;
  animation:svelte-mguqwa-decrease 2s 0.9s ease-in-out infinite
}

@-webkit-keyframes svelte-mguqwa-increase{
  from{
    left:-5%;
    width:5%
  }

  to{
    left:130%;
    width:150%
  }
}

@keyframes svelte-mguqwa-increase{
  from{
    left:-5%;
    width:5%
  }

  to{
    left:130%;
    width:150%
  }
}

@-webkit-keyframes svelte-mguqwa-decrease{
  from{
    left:-90%;
    width:90%
  }

  to{
    left:110%;
    width:10%
  }
}

@keyframes svelte-mguqwa-decrease{
  from{
    left:-90%;
    width:90%
  }

  to{
    left:110%;
    width:10%
  }
}
.circular.svelte-1xkiyez{
  -webkit-animation:svelte-1xkiyez-rotate 2s linear infinite;
  animation:svelte-1xkiyez-rotate 2s linear infinite;
  position:relative
}

.path.svelte-1xkiyez{
  stroke-dasharray:1, 200;
  stroke-dashoffset:0;
  stroke-linecap:round;
  -webkit-animation:svelte-1xkiyez-dash 1.5s ease-in-out infinite;
  animation:svelte-1xkiyez-dash 1.5s ease-in-out infinite
}

@-webkit-keyframes svelte-1xkiyez-rotate{
  100%{
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg)
  }
}

@keyframes svelte-1xkiyez-rotate{
  100%{
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg)
  }
}

@-webkit-keyframes svelte-1xkiyez-dash{
  0%{
    stroke-dasharray:1, 200;
    stroke-dashoffset:0
  }

  50%{
    stroke-dasharray:89, 200;
    stroke-dashoffset:-35
  }

  100%{
    stroke-dasharray:89, 200;
    stroke-dashoffset:-124
  }
}

@keyframes svelte-1xkiyez-dash{
  0%{
    stroke-dasharray:1, 200;
    stroke-dashoffset:0
  }

  50%{
    stroke-dasharray:89, 200;
    stroke-dashoffset:-35
  }

  100%{
    stroke-dasharray:89, 200;
    stroke-dashoffset:-124
  }
}
.snackbar.svelte-1ym8qvd{
  min-width:344px
}
.tooltip.svelte-1n6auy7{
  left:50%;
  -webkit-transform:translateX(-50%);
  -ms-transform:translateX(-50%);
  transform:translateX(-50%)
}
.svelte-lxvsk7{
  font-family:inherit;
  font-size:inherit
}

input.svelte-lxvsk7{
  display:block;
  margin:0 0 0.5em 0
}

select.svelte-lxvsk7{
  float:left;
  margin:0 1em 1em 0;
  width:14em
}

.buttons.svelte-lxvsk7{
  clear:both
}